out
*.ipr
*.iws
*.iml
*.log
* ~
*#
test-boleto-*
target
classes
cobertura.ser
.manager
bin
.DS_Store
xsite-1.0
*.class
jetty-6.1.11/logs/*
jetty-6.1.11/contexts/cweb2.xml
!jetty-6.1.11/logs/.onlyForGitCommit
.fuse*
_tmp/*
.idea
padrao.log*
stats.log*
importante.log*
build/artifacts_lib/fileset/fileset.jar
caelumweb2.properties
caelumweb2.lck
caelumweb2.script
canonicalizador.id
.ant-targets-*
*.swp
.settings/
*.war